<!-- banner -->
<div class="innerpage-banner" id="home">
	<div class="inner-page-layer">
	</div>
</div>
<!-- //banner -->

<!-- Services -->
<section class="services py-5">
	<div class="container py-lg-5">
		<h3 class="heading text-center mb-sm-5 mb-4"><%- mainPageText.services %> </h3>
		<div class="row offer-grids">
			<% 
			var j=1;
			for (var i = 0; i < services.length; i++) {
			if(j>4){
			   j=0;
			   j=j+1; 
			}else{
				j=j+1;    
			} 
			%>
			<!-- <div class="col-md-3 col-6 mt-md-0 mt-4">
				<div class="about-box" style="margin-bottom: 30px;">
					<span class="icon" style="margin-left: 30%">
						<span class="fa fa-user-md"></span>
					</span>
					<h5><%= services[i] %></h5>
				</div>
			</div> -->
			<div class="row col-lg-6 mb-5 padder-none">
				<div class="col-sm-3 ser_icon">
					<span class="icon bg<%= j %> mx-auto">
						<span class="fa fa-user-md"></span>
					</span>
				</div>
				<div class="col-sm-9 mt-sm-0 mt-3">
					<h4><%= services[i] %></h4>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</section>
<!-- //Services -->